<style>
  .left-bar-panel{
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .left-bar{
    background-color: #2e2d2b;
    border-right: solid 1px #1a2224;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    text-align: center;
  }
  .left-bar-top i{
    color: #ffffff;
    font-size: 30px;
    display: block;
    margin-top: 15px;
    cursor: pointer;
  }
  .left-bar-tab{
      padding-top: 35px;
  }
  .left-bar-tab ul{
    list-style: none;
    padding-left:0;
  }
  .left-bar-tab .item-tab li:not(:first-child){
    padding-top: 20px;
  }
  .left-bar-tab .item-tab li a{
    text-decoration: none;
    color:#92908d;
  }
  .left-bar-tab .item-tab li i{
    font-size: 25px;
  }
  .left-bar-tab .item-tab li a:hover{
    color: #ffffff;
  }
  .left-bar-tab .item-tab li.active{
    border-left: 3px solid #da4f4a;
  }
  .left-bar-footer{
    position: absolute;
    bottom: 80px;
    left:50%;
    margin-left:-20px;
  }
  .left-bar-footer .add{
    margin-bottom: 20px;
    position: relative;
  }
  .left-bar-footer .add .add-wrap a{
    text-decoration: none;
    color:#92908d;
    display: inline-block;
  }
  .left-bar-footer .add .add-wrap a:hover{
    color: #ffffff;
  }

  .left-bar-footer .add .add-wrap i{
    font-size: 35px;
  }
  .left-bar-footer .my-info img{
    width: 45px;
    cursor: pointer;
  }
  .add-content{
    position: absolute;
    left: 60px;
    bottom: 0;
    width: 100px;
    background-color: #fff;
    margin-left: -10px;
    border: 1px solid #eeece8;
    font-size: 14px;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.2);
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding:10px;
    z-index: 10;
  }
  .add-content ul{
    list-style: none;
    padding-left: 0;
  }
  .add-content ul li{
    font-size: 14px;
    line-height: 200%;
    margin: 5px;
    border: solid 1px transparent;
    position: relative;
    cursor: pointer;
  }
  .add-content ul li:hover{
    background-color: #f8f6f2;
  }
  .add-content ul li a{
    color:#484744;
  }
  a{
    text-decoration: none;
  }
</style>
<div class="left-bar-panel">
  <div id="left-bar" class="left-bar">
    <div class="left-bar-top">
      <i class="icon iconfont icon-yanyu1"></i>
    </div>
    <div class="left-bar-tab">
      <ul class="item-tab">
        <li class="active"><a href="#"><i class="icon iconfont icon-renwu"></i><br>我的</a></li>
        <li><a href="#"><i class="icon iconfont icon-liaotian"></i><br>聊天</a></li>
        <li><a href="#"><i class="icon iconfont icon-xiangmu"></i><br>项目</a></li>
      </ul>
    </div>
    <div class="left-bar-footer">
      <div class="add" (click)="toggle($event)">
        <div class="add-wrap" tooltip="快速创建" placement="right" container="body" #pop="bs-tooltip">
          <a href="javascript:;" (click)="pop.hide()">
            <i class="icon iconfont icon-jikediancanicon09"></i>
          </a>
        </div>
        <div class="add-content" *ngIf="has_add">
          <div class="add-item">
            <ul>
              <li><a href="#"><i class="icon iconfont icon-tuandui"></i> 团队</a></li>
              <li><a href="#"><i class="icon iconfont icon-xiangmu"></i> 项目</a></li>
              <li><a href="#"><i class="icon iconfont icon-renwu"></i> 任务</a></li>
              <li><a href="#"><i class="icon iconfont icon-iconrc"></i> 日程</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="my-info">
        <a routerLink="userInfo"><img src="../../../assets/images/header.jpg" alt="头像" class="img-circle" tooltip="个人信息" placement="right" container="body"></a>
      </div>
    </div>
  </div>
</div>

