<style>
  .nav-top {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    background-color: #fff;
    border-bottom: solid 1px #eeece8;
    height: 65px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
  }
  .nav-top .title {
    position: absolute;
    width: 300px;
    display: inline-flex;
  }
  .nav-top .title h3 {
    min-width: 100px;
    margin: 0 7px 0 0;
    vertical-align: middle;
    line-height: 54px;
    font-size: 21px;
    display: inline-block;
    color: #333;
    font-weight: 500;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .nav-top .title h3 i {
    font-size: 25px;
    color: #dbdad6;
    padding-right: 25px;
    padding-left: 15px;
    padding-top: 15px;
  }
  a {
    text-decoration: none;
  }
  .my-content{
    margin: 14px;
    padding: 21px;
    border: solid 1px #f8f6f2;
    background: #fff;
    height: 800px;
    overflow-y:auto;
    position: relative;
  }
  .left-layout ul li{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #f8f6f2;
    position: relative;
    display: block;
  }
  .left-layout ul li:first-child{
    border-top:solid 1px #f8f6f2;
  }
  .item-name{
    color: #333;
    width: 200px;
    padding:5px;
    margin:10px 0;
    display: inline-block;
  }
  .item-name .name{
    font-size: 20px;
    margin-left: 10px;
  }
  .item-name .tips{
    margin-left: 15px;
    color:#d9d7d3;
    min-height: 60px;
  }
  .right-layout{
    display: inline-block;
    top:40px;
    position: absolute;
    left: 280px;
  }
  .my-btn{
    olor: #777;
    border: solid 1px #d6d4d0;
    background-color: #f8f6f2;
    text-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    padding: 6px 28px;
    border-radius: 4px;
    margin: 0 auto;
    height: 32px;
    border: none;
    outline: 0;
  }
  ul{
    padding: 0;
    list-style: none;
  }
  .headImg{
    display: inline-block;
  }
  .headImg img{
    width: 80px;
    height:80px;
  }
  .imgOption{
    display: inline-block;
    margin-left: 20px;
  }
</style>
<div class="my-task">
  <div class="nav-top">
    <div class="title">
      <h3>
        <i class="glyphicon glyphicon-user"></i>
       帐户设置
      </h3>
    </div>
  </div>
  <div class="my-content" >
    <div class="left-layout">
      <ul>
        <li>
          <div class="item-name">
            <div class="name">头像</div>
            <div class="tips">选择一张个人正面照片作为头像，
              让其他成员更容易认识你。</div>
          </div>
          <div class="right-layout">
            <div class="headImg">
              <img class="img-circle" src="../../../assets/images/header.jpg" alt="header">
            </div>
            <div class="imgOption">
              <button class="my-btn">设置头像</button>
            </div>
          </div>
        </li>
        <li>
          <div class="item-name">
            <div class="name">用户名</div>
            <div class="tips">请填写一个富有个性的名字</div>
          </div>
          <div class="right-layout">
            <div class="headImg">
              <span>当前用户名</span>cwl
            </div>
            <div class="imgOption">
              <button class="my-btn">修改用户名</button>
            </div>
          </div>
        </li>
        <li>
          <div class="item-name">
            <div class="name">个人资料</div>
            <div class="tips">请填写您的具体资料</div>
          </div>
          <div class="right-layout">
            <div class="headImg">
              <img class="img-circle" src="../../../assets/images/header.jpg" alt="header">
            </div>
            <div class="imgOption">
              <button class="my-btn">设置头像</button>
            </div>
          </div>
        </li>
        <li>
          <div class="item-name">
            <div class="name">登录密码</div>
            <div class="tips">修改密码时需要输入当前密码；新密码长度要大于 6位，建议您定期更换密码，确保帐号安全。</div>
          </div>
          <div class="right-layout">
            <div class="headImg">
              <img class="img-circle" src="../../../assets/images/header.jpg" alt="header">
            </div>
            <div class="imgOption">
              <button class="my-btn">设置登录密码</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

