<style>
  .option-member{
    height: 580px;
    overflow-y: auto;
  }
  .auth-manage{
    position: relative;
  }
  .auth-manage-box{
    position: absolute;
    z-index: 999999;
    width: 340px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #eeece8;
    font-size: 14px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 175px;
    left: -370px;
    top:-50px;
    border-bottom: 1px solid #f8f6f2;
    min-height: 48px;
  }
  .auth-manage-box .manage-header{
    padding: 13px 15px;
    border-bottom: 1px solid #f8f6f2;
    background-color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #d9d7d3;
    font-weight: 600;

  }
  .auth-manage-box .manage-header i{
    cursor: pointer;
  }
  .auth-manage-box .manage-header i:hover{
    color: #da4f4a;

  }
  .auth-list{
    padding: 0 5px;
    border-bottom: 1px solid #f8f6f2;
  }
  .auth{
    position: relative;
    padding: 0 10px;
    cursor: pointer;
  }
  .auth:hover{
    color: #333;
    text-decoration: none;
    background-color: #f1ede5;
    border-radius: 3px;
  }
  .left-content{
    width: 20px;
    height:50px;
    display:inline-block;
    position: relative;
  }
  .left-content i{
    position: absolute;
    top:20px;
  }
  .right-content{
    position: absolute;
    border-radius: 3px;
    display: inline-block;
    width: 200px;
    margin-left: 10px;
  }
  .right-content strong{
        display: block;
    margin-top: 10px;
  }
  .right-content span{
    display: block;
    position: absolute;
    top:30px;

  }
</style>
<div class="option-member">
  <table class="table table--fancy">
    <thead>
    <tr>
      <th>成员</th>
      <th>邮箱/手机</th>
      <th>加入日期</th>
      <th>角色</th>
      <th>设置</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of userList">
      <td>
        <span (click)="showUserInfoMoal(item,$event)">
             <userInfo-img [user_id]="item.user_id" [show]="item.show" [direct]="direct"></userInfo-img>
        </span>
        {{item.username}}</td>
      <td>{{item.phone||item.email}}</td>
      <td>{{item.createdAt}}</td>
      <td>{{item.auth}}</td>
      <td>
        <div class="auth-manage" >
          <button *ngIf="item.auth!=='创建者'" class="my-btn" (click)="showAuthManage(item,$event)">权限设置</button>
          <div class="auth-manage-box" *ngIf="item.show_auth">
            <div class="manage-header">
                权限设置
              <i class="iconfont icon-x right" (click)="cancelAuth(item)"></i>
            </div>
            <div class="auth-list">
              <div class="auth" (click)="modifyAuth(item,1)">
                <div class="left-content">
                  <i class="iconfont icon-duigou font-54d09f" *ngIf="item.auth==='管理员'"></i>
                </div>
                <div class="right-content">
                  <strong>管理员</strong>
                  <span>可以创建项目，邀请成员</span>
                </div>
            </div>
              <div class="auth" (click)="modifyAuth(item,0)">
                <div class="left-content">
                  <i class="iconfont icon-duigou font-54d09f" *ngIf="item.auth==='成员'"></i>
                </div>
                <div class="right-content">
                <strong>成员</strong>
                <span>访问和操作自己参与的项目</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<top-tip [show]="show_tip" [msg]="tip" [success]="success"></top-tip>


