<style>
  .message-content
  {
    margin: 14px;
    padding: 21px;
    border: solid 1px #f8f6f2;
    background: #fff;
    display: flex;
    max-height: 570px;
    overflow-y:scroll;
    position: relative;
  }
  .left-layout{
    flex-grow: 5;
  }
  .right-layout{
    flex-grow: 1;
  }
  ul{
    padding: 0;
    list-style: none;
  }
  .left-layout ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #f8f6f2;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .left-layout ul li:first-child{
    border-top:solid 1px #f8f6f2;
  }
  .left-layout ul li:hover{
    background-color: #eeece8;
  }
  .left-layout ul li .person{
       float: left;
       margin-left: 30px;
       margin-top: 5px;
  }
  .left-layout ul li .person img{
        width: 40px;
  }
  .left-layout ul li .person span{

  }
  .left-layout ul li .message-detail{
    display: inline-block;
    margin-left:200px;
    line-height: 30px;
  }
  .left-layout ul li .time{
     float: right;
    margin-right: 100px;
  }
  .mes-title{
    color: #333;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 150%;
    word-break: break-all;
  }
  .mes-title:hover{
    color: #da4f4a;
  }
  .right-layout{
    margin: 20px auto;
    width: 140px;
    display: flex;
    justify-content: center;
  }
  .refresh{
    color: #777;
    border: solid 1px #d6d4d0;
    background-color: #f8f6f2;
    text-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    padding: 6px 28px;
    border-radius: 4px;
    margin: 0 auto;
    height: 32px;
    border: none;
    outline: 0;
  }
  .refresh:hover{
    color: #484744;
    background-color: #f1ede5;
  }
  .refresh:active{
    border: none;
  }
</style>
<div class="message-content">
  <div class="left-layout">
    <ul>
      <li>
        <div class="person">
          <img src="../../../assets/images/header.jpg" alt="header">
          <span>cwl</span>
        </div>
        <div class="message-detail">
          <div class="mes-title">完成了任务</div>
          <div class="mes-content">
            <i class="glyphicon glyphicon-check"></i>个UI欧</div>
          <div class="mes-footer">teamFlow</div>
        </div>
        <div class="time">2017-2-13 12:43</div>
      </li>
      <li>
        <div class="person">
          <img src="../../../assets/images/header.jpg" alt="header">
          <span>cwl</span>
        </div>
        <div class="message-detail">
          <div class="mes-title">完成了任务</div>
          <div class="mes-content">
            <i class="glyphicon glyphicon-check"></i>个UI欧</div>
          <div class="mes-footer">teamFlow</div>
        </div>
        <div class="time">2017-2-13 12:43</div>
      </li>
      <li>
        <div class="person">
          <img src="../../../assets/images/header.jpg" alt="header">
          <span>cwl</span>
        </div>
        <div class="message-detail">
          <div class="mes-title">完成了任务</div>
          <div class="mes-content">
            <i class="glyphicon glyphicon-check"></i>个UI欧</div>
          <div class="mes-footer">teamFlow</div>
        </div>
        <div class="time">2017-2-13 12:43</div>
      </li>
      <li>
        <div class="person">
          <img src="../../../assets/images/header.jpg" alt="header">
          <span>cwl</span>
        </div>
        <div class="message-detail">
          <div class="mes-title">完成了任务</div>
          <div class="mes-content">
            <i class="glyphicon glyphicon-check"></i>个UI欧</div>
          <div class="mes-footer">teamFlow</div>
        </div>
        <div class="time">2017-2-13 12:43</div>
      </li>
      <li>
        <div class="person">
          <img src="../../../assets/images/header.jpg" alt="header">
          <span>cwl</span>
        </div>
        <div class="message-detail">
          <div class="mes-title">完成了任务</div>
          <div class="mes-content">
            <i class="glyphicon glyphicon-check"></i>个UI欧</div>
          <div class="mes-footer">teamFlow</div>
        </div>
        <div class="time">2017-2-13 12:43</div>
      </li> <li>
      <div class="person">
        <img src="../../../assets/images/header.jpg" alt="header">
        <span>cwl</span>
      </div>
      <div class="message-detail">
        <div class="mes-title">完成了任务</div>
        <div class="mes-content">
          <i class="glyphicon glyphicon-check"></i>个UI欧</div>
        <div class="mes-footer">teamFlow</div>
      </div>
      <div class="time">2017-2-13 12:43</div>
    </li>
      <li>
        <div class="person">
          <img src="../../../assets/images/header.jpg" alt="header">
          <span>cwl</span>
        </div>
        <div class="message-detail">
          <div class="mes-title">完成了任务</div>
          <div class="mes-content">
            <i class="glyphicon glyphicon-check"></i>个UI欧</div>
          <div class="mes-footer">teamFlow</div>
        </div>
        <div class="time">2017-2-13 12:43</div>
      </li>
      <li>
        <div class="person">
          <img src="../../../assets/images/header.jpg" alt="header">
          <span>cwl</span>
        </div>
        <div class="message-detail">
          <div class="mes-title">完成了任务</div>
          <div class="mes-content">
            <i class="glyphicon glyphicon-check"></i>个UI欧</div>
          <div class="mes-footer">teamFlow</div>
        </div>
        <div class="time">2017-2-13 12:43</div>
      </li>
      <li>
        <div class="person">
          <img src="../../../assets/images/header.jpg" alt="header">
          <span>cwl</span>
        </div>
        <div class="message-detail">
          <div class="mes-title">完成了任务</div>
          <div class="mes-content">
            <i class="glyphicon glyphicon-check"></i>个UI欧</div>
          <div class="mes-footer">teamFlow</div>
        </div>
        <div class="time">2017-2-13 12:43</div>
      </li>
      <li>
        <div class="person">
          <img src="../../../assets/images/header.jpg" alt="header">
          <span>cwl</span>
        </div>
        <div class="message-detail">
          <div class="mes-title">完成了任务</div>
          <div class="mes-content">
            <i class="glyphicon glyphicon-check"></i>个UI欧</div>
          <div class="mes-footer">teamFlow</div>
        </div>
        <div class="time">2017-2-13 12:43</div>
      </li>
      <li>
        <div class="person">
          <img src="../../../assets/images/header.jpg" alt="header">
          <span>cwl</span>
        </div>
        <div class="message-detail">
          <div class="mes-title">完成了任务</div>
          <div class="mes-content">
            <i class="glyphicon glyphicon-check"></i>个UI欧</div>
          <div class="mes-footer">teamFlow</div>
        </div>
        <div class="time">2017-2-13 12:43</div>
      </li>


    </ul>
  </div>
  <div class="right-layout">
    <button class="refresh"><i class="glyphicon glyphicon-refresh"></i> &nbsp;&nbsp;刷新动态</button>
  </div>
</div>
