<style>
  .viewport{
    width: 100%;
    height: 100%;
  }
  .bg{
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;
  }
  .bg_img{
    position: absolute;
    opacity: 0;
    z-index: -99999;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .bg_img img{
    width: 100%;
    height: 100%;
    z-index: -99999;
  }
    .bg_img.active{
      opacity: 1;
    }
    .index-circle{
      position: absolute;
      bottom: 150px;
      left: 50%;
      margin-left: -31px;
    }
    .circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px #fff solid;
    cursor: pointer;
    margin: 0 4px;
    opacity: .3
    }
   .circle.active{
    background: #fff;
    border: 3px #fff solid;
    opacity: .9;
  }
  .top-nav{
    z-index: 2;
    height:60px;
    width: 100%;
    line-height: 60px;
  }
  .top-nav .title{
    width: 20%;
    margin-left: 100px;
    display: inline-block;
  }
  .top-nav .title i{
    font-size: 30px;
  }
  .top-nav .title img{
    height: 60px;
    padding-bottom: 16px;
  }
  .nav-bar{
    display: inline-block;
    width: 65%;
    text-align: right;
  }
  .nav-bar ul{
    list-style: none;
  }
  .nav-bar ul li{
    display: inline;
    padding: 3px 20px;
    font-size:17px;
    border:1px solid #03A9F4;
    border-radius: 2px;
  }
  .nav-bar ul li a{
    text-decoration: none;
    color:#03A9F4;
  }
  .nav-bar ul li:first-child{
    margin-right:20px;
    border:1px solid #fff;
    border-radius: 2px;
  }
  .nav-bar ul li:first-child:hover{
    background-color: #fff;
  }
  .nav-bar ul li:first-child a:hover{
    color: #03A9F4;
  }
  .nav-bar ul li:first-child a{
    color: #fff;
  }
  .nav-bar ul li:nth-child(2):hover{
    background-color: #03A9F4;
  }
  .nav-bar ul li:nth-child(2) a:hover{
    color: #fff;
  }
  .nav-bar ul li:hover{
    background-color: #bce8f1;
    border-radius: 2px;
  }
  .text-center{
    position: absolute;
    width: 600px;
    top:40%;
    left: 50%;
    margin-left: -300px;
    z-index: 1;
  }
  .bg-1-title{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 500;

  }
  .bg-1-content{
    height: 100px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
  }
  .bg-1-footer a{
    display: inline-block;
    border: 2px #49bcb5 solid;
    background: #49bcb5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    min-width: 220px;
    margin-right: 0;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  .bg-1-footer a:hover{
    border: 2px #399994 solid;
    background: #399994;
    color: #fff;
  }
</style>
<div class="viewport">
  <div class="bg">
    <div class="top-nav">
      <div class="title">
          <i class="icon iconfont icon-yanyu1"></i>
        <img src="../../assets/images/teamFlow.png" alt="logo">
      </div>
      <div class="nav-bar">
        <ul>
          <li><a routerLink="dashboard/task">登录</a></li>
          <li><a routerLink="signup">免费注册</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <div class="bg-1-title">
        团队工作流协作平台
      </div>
      <div class="bg-1-content">
        <p>teamFlow  让工作更简单</p>
      </div>
      <div class="bg-1-footer">
        <a routerLink="signup">免费注册</a>
      </div>
    </div>
    <div id="bg_1" class="bg_img active">
      <img src="../../assets/images/home_1.jpg" alt="home_1">
    </div>
    <div id="bg_2" class="bg_img">
      <img src="../../assets/images/home_2.jpg" alt="home_2">
    </div>
    <div id="bg_3" class="bg_img">
      <img src="../../assets/images/home_3.jpg" alt="home_3">
    </div>
    <div class="index-circle">
      <span class="circle active" (mouseenter)="switch($event,'bg_1')"></span>
      <span class="circle" (mouseenter)="switch($event,'bg_2')"></span>
      <span class="circle" (mouseenter)="switch($event,'bg_3')"></span>
    </div>
  </div>
</div>
