<style>
  a {
    text-decoration: none;
  }
  .schedule_body {
    padding: 20px 20px 0 20px;
  }
  .schedule-top {
    height: 50px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .schedule-top .select_month {
    padding-top: 10px;
  }
  .select_month a {
    display: inline-block;
    margin-right: 30px;
  }
  .year-month {
    color: black;
    margin-right: 30px;
  }
  .select_month a i {
    color: #cacfd3;
    font-size: 16px;
    width: 20px;
    height: 23px;
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
  }
  .select_month a:hover {
    background-color: #eeece8;
    border-radius: 2px;
  }
  .schedule_table {
    border: 0 hidden transparent
  }
  .schedule_table .schedule_thead {

    border: 1px solid #f8f6f2;
  }
  .schedule_tr {
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-around;
    background-color: #eeece8;
  }
  .schedule_table .schedule_thead .schedule_tr .weekday {
    height: 30px;
    padding-top: 6px;
    color: #777;
    font-size: 12px;
    font-weight: 400;
  }
  .day-line {
    height: 150px;
    display: flex;
    justify-content: space-around;
  }
  .day-box {
    background-color: #fff;
    width: 16.666%;
    border: 1px solid #f8f6f2;
    position: relative;
  }
  .day-box:hover{
    background-color: #f8f6f2;
  }
  .day-box .center-panel{

  }
  .day-box-item {
    padding: 8px;
  }
  .day-line .day-box .date {
    height: 20px;
    font-size: 10px;
  }
  .task-title {
    border-radius: 5px;
    background-color: #2aabd2;
    width: 100%;
    margin: 0 auto;
    min-height: 20px;
    color: #fff;
  }
</style>
<div class="schedule_body">
  <div class="schedule-top">
    <div class="select_month">
      <a href="javascript:;"><i class="glyphicon glyphicon-chevron-left"></i></a>
      <span class="year-month" href="javascript:;">2017年二月</span>
      <a href="javascript:;"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>
  <div class="schedule-content">
    <div class="schedule_table">
      <div class="schedule_thead">
        <div class="schedule_tr">
          <div class="weekday">周日</div>
          <div class="weekday">周一</div>
          <div class="weekday">周二</div>
          <div class="weekday">周三</div>
          <div class="weekday">周四</div>
          <div class="weekday">周五</div>
          <div class="weekday">周六</div>
        </div>
      </div>
      <div class="schedule_main">
        <div class="day-line">
          <div class="day-box">
            <div class="day-box-item">
              <div class="date"><span>1</span></div>
              <div class="task-container">
                <div class="task-title">看电影</div>
              </div>
              <div class="center-panel">
                <create-schedule-panel></create-schedule-panel>
              </div>
            </div>
          </div>
          <div class="day-box">
            <div class="day-box-item">
              <div class="date"><span>1</span></div>
              <div class="task-container">
                <div class="task-title">看电影</div>
              </div>
            </div>
          </div>
          <div class="day-box">
            <div class="day-box-item">
              <div class="date"><span>1</span></div>
              <div class="task-container">
                <div class="task-title">看电影</div>
              </div>
            </div>
          </div><div class="day-box">
          <div class="day-box-item">
            <div class="date"><span>1</span></div>
            <div class="task-container">
              <div class="task-title">看电影</div>
            </div>
          </div>
        </div>
          <div class="day-box">
            <div class="day-box-item">
              <div class="date"><span>1</span></div>
              <div class="task-container">
                <div class="task-title">看电影</div>
              </div>
            </div>
          </div>
          <div class="day-box">
            <div class="day-box-item">
              <div class="date"><span>1</span></div>
              <div class="task-container">
                <div class="task-title">看电影</div>
              </div>
            </div>
          </div>
          <div class="day-box">
            <div class="day-box-item">
              <div class="date"><span>1</span></div>
              <div class="task-container">
                <div class="task-title">看电影</div>
              </div>
              <div class="center-panel">
                <create-schedule-panel></create-schedule-panel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
