<style>
  .viewport{
    background-color: #d3dedc;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .sign-up-panel{
    position: absolute;
    left: 50%;
    top:15%;
    width:800px;
    margin-left: -400px;
  }
  .title{
    text-align: center;
    height: 80px;
    line-height:80px ;
  }
  .title i{
    font-size: 35px;
  }
  .title img{
    height: inherit;
    padding-bottom: 20px;
  }
  .form{
    margin:20px auto;
    width: 350px;
  }
  .form input:focus{
    border-color: #fcd340;
    outline: 0;
    color: #000;
    -webkit-box-shadow: 0 0 1px #fcd340;
    box-shadow: 0 0 1px #fcd340;
  }
  .form .error{
    border-color: #da4f4a;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
  }
  .form .step{
    margin-bottom:20px;

  }
  .my-form-control{
    display: inline;
    height: 38px;
  }
  .my-form-control-sm{
    display: inline;
    height: 38px;
    width: 60%;
  }
  .back-signin{
    text-align: center;
    margin-top: 50px;
    margin-right:15px;
  }
  .back-signin a{
    color:#777;
    text-decoration: none;
    margin-right:15px;
  }
  .back-signin a:hover{
    color:#da4f4a;
  }
  .error-text{
    margin-left:10px;
  }
  .form-control{
    display: inline;
  }
  .getsms{
     margin-left:30px;
  }
</style>
<div class="viewport">
  <div class="sign-up-panel">
    <div class="title">
      <i class="icon iconfont icon-yanyu1 red"></i>
      <img src="../../../assets/images/teamFlow.png" alt="logo">
    </div>
    <div class="form">
      <div class="form-group step">
        <input type="text" class="form-control my-form-control" id='email' placeholder="邮箱地址" [(ngModel)]="email" (focus)="cancelError($event)">
      </div>
      <div class="form-group step">
        <input type="text" class="form-control my-form-control-sm" id="code" placeholder="验证码" [(ngModel)]="code" (focus)="cancelError($event)" >
        <button class="btn btn-success getsms disabled">获取验证码</button>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="error>0">
        <span class="glyphicon glyphicon-remove-sign"></span>
        <span class="error-text">{{tip}}</span>
      </div>
      <button class="btn btn-success btn-block">验证邮箱验证码</button>
      <div class="back-signin">
        <a routerLink="/login">返回登录</a>
        <a routerLink="/register">免费注册</a>
      </div>
    </div>
  </div>
</div>

