<style>
  .badge{
    background-color: red;
    position: absolute;
    right: 0;
    top:10px;
  }
  .modal-wrap{
    position: fixed;
    z-index: 8;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #eeece8;
    opacity: .8;
  }

  li {
    cursor: pointer;
  }

  .left-bar-panel {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 33333;
  }

  .left-bar {
    background-color: #2e2d2b;
    border-right: solid 1px #1a2224;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    text-align: center;
  }

  .left-bar-top i {
    color: #ffffff;
    font-size: 30px;
    display: block;
    margin-top: 15px;
    cursor: pointer;
  }

  .left-bar-tab {
    padding-top: 35px;
  }

  .left-bar-tab ul {
    list-style: none;
    padding-left: 0;
  }

  .left-bar-tab .item-tab li:not(:first-child) {
    margin-top: 20px;
  }

  .left-bar-tab .item-tab li a {
    text-decoration: none;
    color: #92908d;
    display: block;
  }

  .left-bar-tab .item-tab li i {
    font-size: 25px;
  }

  .left-bar-tab .item-tab li a:hover {
    color: #ffffff;
  }

  .left-bar-tab .item-tab li.active {
    border-left: 3px solid #da4f4a;
  }

  .left-bar-footer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -20px;
  }

  .left-bar-footer .add {
    margin-bottom: 20px;
    position: relative;
  }

  .left-bar-footer .add .add-wrap a {
    text-decoration: none;
    color: #92908d;
    display: inline-block;
  }

  .left-bar-footer .add .add-wrap a:hover {
    color: #ffffff;
  }

  .left-bar-footer .add .add-wrap i {
    font-size: 35px;
  }

  .left-bar-footer .my-info img {
    width: 45px;
    cursor: pointer;
  }

  .add-content {
    position: absolute;
    left: 60px;
    bottom: 0;
    width: 100px;
    background-color: #fff;
    margin-left: -10px;
    border: 1px solid #eeece8;
    font-size: 14px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
    z-index: 10;
  }

  .add-content ul {
    list-style: none;
    padding-left: 0;
  }

  .add-content ul li {
    font-size: 14px;
    line-height: 200%;
    margin: 5px;
    border: solid 1px transparent;
    position: relative;
    cursor: pointer;
  }

  .add-content ul li:hover {
    background-color: #f8f6f2;
  }

  .add-content ul li a {
    color: #484744;
  }

  a {
    text-decoration: none;
  }

  .my-team
  {
    position: absolute;
    top: 190px;
    left: 60px;
    z-index: 999;
    text-align: left;
    background-color: #fff;
    border: 1px solid #eeece8;
    font-size: 14px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1px;
    width: 290px;
  }

  .my-project {
    opacity: 1;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left:-350px;
    width: 290px;
    z-index: 9;
    -webkit-box-shadow: 1px 0 5px rgba(0,0,0,.14);
    box-shadow: 1px 0 5px rgba(0,0,0,.14);
  }

  .my-team .top {
    border-bottom: 1px solid #f8f6f2;
    position: relative;
    height: 40px;
  }

  .my-team .top span {
    font-size: 16px;
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -8px;
    display: inline-block;
  }

  .my-team .team-wrap

  {
    width: 97%;
    padding: 0 10px;
    border-bottom: 1px solid #f8f6f2;
  }
  .my-project .project-wrap{
    width: 97%;
    padding: 0 10px;
    margin-top:5px;
    cursor: pointer;
  }
  .my-team .team-wrap :hover
  {
    color: #333;
    text-decoration: none;
    background-color: #f1ede5;
    border-radius: 3px;
  }

  .my-team .team,
  .my-project .project {
    position: relative;
    padding: 5px 10px;
    border-bottom: 1px solid #f8f6f2;

  }
  .my-project .project:hover{
    color: #333;
    background-color: #f1ede5;
    border-radius: 3px;
  }
  .my-project .project{
    height: 50px;
  }
  .team-list .team .team-name,
  .project-list .project .project-name
  {
    font-size: 15px;
    position: absolute;
    left: 80px;
    top: 8px;
    line-height: 100%;
    margin: 0;
    overflow: hidden;
  }
  .project-list .project .project-name{
    left: 30px;
    width: 85%;
  }
  .my-team .team img {
    width: 60px;
    height: 50px;
  }

  .small > i {
    font-size: 12px !important;
  }

  .small {
    position: absolute;
    top: 40px;
    left: 80px;
  }

  .team-footer {
    margin: 20px auto 10px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30px;
  }

  .my-project .top {
    color: #333;
    background-color: #fff;
    font-size: 18px;
    padding: 15px 21px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .search-project {
    width: 280px;
    height: 30px;
    border-bottom: 1px solid #f8f6f2;
  }

  .my-project .search-project .left,
  .my-project .search-project .right {
    display: inline-block;
    position: relative;
  }

  .my-project .search-project .left {
    width: 80%;
    height: 100%;
  }

  .search-project .icon-search {
    position: absolute;
    font-size: 16px !important;
    color: #777;
    z-index: 2;
    left: 15px;
  }

  .search-project input {
    position: absolute;
    font-size: 14px;
    color: #777;
    left: 40px;
    outline: none;
    border: none !important;
    padding-left: 10px
  }
  .all-project{
    color:#b9b9b7;
    cursor: pointer;
  }
  .all-project:hover{
    color: #da4f4a;
  }
  .no-complete-task{
    position: absolute;
    top: 30px;
    left: 30px;
    color:#b9b9b7 !important;
  }
</style>
<div class="left-bar-panel">
  <div id="left-bar" class="left-bar">
    <div class="left-bar-top">
      <a routerLink="/task"> <i class="icon iconfont icon-yanyu1" style="color: #fb9fad"></i></a>
    </div>
    <div class="left-bar-tab">
      <ul class="item-tab">
        <li [class.active]="router_in==='message'||router_in==='task'" routerLink="/task"><a href="javascript:;"><i class="icon iconfont icon-renwu"></i><br>我的</a>
        </li>
        <li routerLink="/chat" routerLinkActive="active"><a href="javascript:;"><i class="icon iconfont icon-liaotian"></i><span style="display: block">聊天</span></a></li>
        <li (click)="toggleShowMyProject($event)" [class.active]="router_in==='project'"><a href="javascript:;"><i class="icon iconfont icon-xiangmu" ></i><br>项目</a>

        </li>
        <li [class.active]="router_in==='team'" (click)="toggleShowMyTeam($event)"><a href="javascipt:;"><i
          class="iconfont icon-tuandui1"></i><br>团队</a>
          <div  class="my-team" *ngIf="showMyTeam" (click)="stopBubble($event)">
            <div class="top">
              <span>我的团队</span>
            </div>
            <div class="team-list">
              <div class="team-wrap" *ngFor="let item of teamList" (click)="selOneTeam(item,$event)">
                <div class="team">
                  <img [src]="item.imgurl" alt="头像">
                  <h5 class="team-name">{{item.name}}</h5>
                  <span class="small">
              <i class="iconfont icon-touxiang"></i>
              {{item.memberNum}}人
            </span>
                </div>
              </div>
            </div>
            <div class="team-footer">
              <button class="btn btn-success btn-block" (click)="createTeam($event)">创建新团队</button>
            </div>
          </div>

        </li>
        <li style="position: relative"><a href="#"><i class="icon iconfont icon-tongzhi"></i><br>通知<div class="badge" *ngIf="hasInfo">NEW</div></a></li>
      </ul>
    </div>
    <div class="left-bar-footer">
      <div class="add" (click)="toggleFast($event)">
        <div class="add-wrap" tooltip="快速创建" placement="right" container="body" #pop="bs-tooltip">
          <a href="javascript:;" (click)="pop.hide()">
            <i class="icon iconfont icon-jikediancanicon09"></i>
          </a>
        </div>
        <div class="add-content" *ngIf="has_add">
          <div class="add-item">
            <ul>
              <li (click)="createTeam($event)"><a href="javascript:;"><i class="icon iconfont icon-tuandui"></i> 团队</a>
              </li>
              <li (click)="createProject()"><a href="javascript:;"><i class="icon iconfont icon-xiangmu"></i> 项目</a>
              </li>
              <li><a href="javascript:;"><i class="icon iconfont icon-renwu"></i> 任务</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="my-info">
        <a routerLink="/userInfo"><img [src]="imgurl" alt="头像" class="img-circle" tooltip="个人信息" placement="right"
                                       container="body"></a>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrap" *ngIf="state==='in'"></div>
  <div [@flyInOut]="state" class="my-project" (click)="stopBubble($event)" >
    <div class="top">
      <span>项目</span>
    </div>
    <div class="search-project">
      <div class="left">
        <i class="iconfont icon-search"></i>
        <input id="search" type="text" placeholder="快速查找项目" [(ngModel)]="searchName">
      </div>
      <div class="right">
        <span class="all-project" (click)="getUserAllProjectInfo1()">全部项目</span>
      </div>
    </div>
    <div class="project-list">
      <div class="project-wrap" *ngFor="let item of projectList" (click)="selOneProject(item,$event)">
        <div class="project">
          <div class="project-name">{{item.projectName}}<span class="right font-fb9fad" style="font-size: 11px">{{item.team.teamName}}</span></div>
        </div>
      </div>
    </div>
  </div>
<my-modal [show]="show_modal" (notifyShow)="closeShowModal($event)"
          [width]="width" [height]="height" [title]="title" [type]="type"
          [teamList]="teamList"
></my-modal>
